@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bodymain {
    @apply flex items-center justify-center w-full h-full pt-24;
  }
  .tables {
    @apply bg-zinc-300 text-gray-600 dark:text-gray-400 dark:bg-gray-700 sm:w-auto px-8 pt-8 py-10 rounded-xl flex flex-col gap-4 transform duration-300 mainshadow w-11/12;
  }
  .forminputs {
    @apply 2xl:text-2xl text-sm flex flex-col justify-between gap-2;
  }
  .forms {
    @apply bg-zinc-300 text-gray-600 dark:text-gray-400 dark:bg-gray-700 px-8 pt-8 pb-10 w-11/12 sm:w-8/12 md:w-6/12 lg:w-5/12 2xl:w-3/12 rounded-xl flex flex-col gap-2 transform duration-300 mainshadow accent-lime-600;
  }
  .fields {
    @apply text-gray-700 rounded-lg dark:bg-gray-600 dark:text-gray-50 w-full placeholder:text-green-700 placeholder:opacity-50 dark:placeholder:text-lime-500 transform duration-300 focus:ring-lime-500 focus:ring-2 focus:border-none outline-none hover:mainshadow disabled:text-gray-400 disabled:dark:text-gray-500 disabled:dark:bg-gray-800/50 disabled:bg-stone-300 disabled:hover:shadow-none;
  }
  .btn-primary {
    @apply bg-lime-600 text-gray-50 dark:bg-lime-700 dark:text-gray-200 px-4 py-2 lg:text-2xl rounded-xl transform duration-300 hover:mainshadow hover:-translate-y-1 w-max;
  }
  .btn-process {
    @apply bg-amber-600 text-gray-50 dark:bg-yellow-600 dark:text-gray-200 px-4 py-2 rounded-xl transform duration-300;
  }
  .btn-done {
    @apply bg-lime-700 text-gray-50 dark:bg-lime-600 dark:text-gray-200 px-4 py-2 rounded-xl transform duration-300;
  }
  .btn-negetive {
    @apply bg-rose-800 text-gray-50 dark:bg-red-800 dark:text-gray-200 px-4 py-2 lg:text-2xl rounded-xl transform duration-300 hover:mainshadow hover:-translate-y-1 w-max;
  }
  .btn-secondary {
    @apply bg-transparent px-4 py-2 text-2xl rounded-xl text-lime-600 dark:text-lime-600 border-2 border-current;
  }
  .btn-pending {
    @apply bg-transparent px-4 py-2 text-2xl rounded-xl text-yellow-500 dark:text-amber-500 border-2 border-current flex items-center font-bold;
  }
  .btn-paid {
    @apply bg-transparent px-4 py-2 text-2xl rounded-xl text-lime-600 border-2 border-current flex items-center font-bold;
  }
  .mainshadow {
    @apply shadow-[5px_5px_8px_0px_rgba(0,0,0,0.2)];
  }
  .secondaryshadow {
    @apply shadow-[3px_2px_5px_0px_rgba(0,0,0,0.2)];
  }
  .bigbtn {
    @apply w-full lg:w-full h-24 text-gray-100 bg-lime-700 dark:bg-lime-700 rounded-lg text-2xl lg:text-4xl font-semibold flex items-center pl-5 text-left cursor-pointer hover:mainshadow hover:lg:-translate-y-1 hover:scale-105 hover:lg:scale-100 transform duration-150 gap-2;
  }
  .title {
    @apply 2xl:text-4xl text-2xl font-bold mb-4;
  }
  .secondtitle {
    @apply text-2xl font-bold;
  }
  .thead {
    @apply bg-lime-600 text-gray-200 dark:bg-lime-600 rounded-lg font-bold;
  }
  .tbrow {
    @apply border-y-8 border-y-transparent dark:even:bg-gray-600 dark:even:text-gray-400 even:bg-neutral-400/50 even:text-gray-800;
  }
  .ls-2 {
    letter-spacing: 1px;
  }
  .formcontents {
    @apply flex flex-col gap-2;
  }
  .scrolls {
    @apply scrollbar scrollbar-track-lime-800 scrollbar-thumb-lime-600;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  .required {
    @apply after:content-['*'] after:text-red-500;
  }
  .tablemain {
    @apply table-auto border-collapse text-lg lg:text-2xl;
  }
  .tbodyrow{
    @apply border-y-8 border-y-transparent;
  }
  tbody:before {line-height:0.5em; content:"\200C"; display:block;}

  @media only screen and (max-width: 1536px) { 
    .smhidden { 
      display: none; 
    } 
  }
  .edit {
    @apply 2xl:pl-4 text-left text-lime-700 dark:text-lime-500;
  }
  .delete {
    @apply text-left text-red-500 dark:text-rose-500;
  }
  .buttons{
    @apply flex w-full gap-2 mt-4;
  }
  .emptyfooter {
    @apply h-10 w-full;
  }
  .loginout {
    @apply fixed top-4 right-5 bg-gray-400 text-gray-800 dark:bg-gray-200 font-bold dark:text-gray-800 rounded-full w-10 h-10 flex justify-center items-center z-50 secondaryshadow;
  }
  .darkmodetoggle {
    @apply absolute top-4 bg-gray-800 text-white dark:bg-gray-200 font-bold dark:text-gray-800 rounded-full w-10 h-10 z-50 secondaryshadow;
  }
  .totals {
    @apply lg:w-6/12 w-full flex gap-4 items-center text-stone-300 dark:text-stone-700 dark:bg-stone-300 p-4 bg-stone-700 rounded-lg mainshadow transform duration-200;
  }
} ;
